h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-decoration: underline overline;
}

article h2 {
    font-family: 'Kufam', sans-serif;
}

article {
    margin: 15px;
    color: black;
    justify-content: space-evenly;
    border: 1px solid black;
    width: fit-content;
    background-color: floralwhite;
    border-radius: 20px;
    position: relative;
}

body {
    background-color: rgb(41, 41, 41);
    /* color: white; */
}

section {
    width: 100%;
    padding: 20px;
}

nav {
    width: 100%;
    /* background-color: rgb(170, 214, 133); */
    background-color: #97ad5c;
    border: 1px black solid;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px 0 5px;
    color: black;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    border-top-right-radius: .5em;
    border-right: 1px solid black;
    box-shadow: 1px -1px 1px black;
}

nav input {
    height: 25px;
}

#description {
    max-width: 720px;
}

.clickable {
    cursor: pointer;
}

.not-clicked {
    box-shadow: 1px 1px 1px black;
}

.clicked::after {
    -webkit-box-shadow: inset 2px 2px 2px #000;
    -moz-box-shadow: inset 2px 2px 2px #000;
    box-shadow: inset 1px 1px 2px #000;
    border-radius: inherit;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.clicked {
    /* position: relative; */
    transform: translate(-1px,-1px);
}

.clickable-div {
    margin: 25px;
    border: 1px solid black;
    position: relative;
}

.article-thumbnail {
    display: block;
    height: 250px;
    width: 300px;
    object-fit: cover;
    border: none;
}

.blog-post img {
    height: 250px;
    border: black 1px solid;
    box-shadow: 2px 2px 2px black;
}

.blog-post div {

    display: inline-block;
    margin: 1em;
}

.thumbnails {
    flex-wrap: wrap;
    background-color: floralwhite;
    /* box-shadow: 0 5px 5px floralwhite, 0 -5px 5px floralwhite; */
    border-top: 3px black double;
    border-bottom: 3px black double;
}

.box {
    display: flex;
    align-items: center;
}

.nav-box {
    justify-content: space-between;
}

.box-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 15px; */
}

#main {
    /* background-color: rgb(231, 255, 203); */

    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background-color: #f2e4a6;
    height: fit-content;
    border: 1px black solid; 
    /* border-bottom: 1px black solid; 
    border-right: 1px black solid;  */
}

.tab-one {
    /* background-color: rgb(255, 240, 199); */
    background-color: #f2e4a6;
    z-index: 3;
}

.tab-two {
    /* background-color: burlywood; */
    background-color: #71988e;
    z-index: 2;
}

.tab-three {
    background-color: #dd6555;
    z-index: 1;
}

.cover {
    border: 1px solid black;
    position: relative;
    height: 350px;
    background-image: url(https://images.pexels.com/photos/2983101/pexels-photo-2983101.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50% 52%;
    width: 100%;
    box-shadow: 0 3px 2px black;
}

.adventure-heading {
    margin: 15px;
    font-family: 'Permanent Marker', cursive;
}

.thumbnail-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    color: white;
    text-shadow: 2px 2px 1px black;
    text-align: center;
    width: 75%;
    font-family: 'Kufam', sans-serif;
    font-size: 25px;
    text-decoration-line: underline;
}

.icon {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: cell;
}

.icon-bookmark {

    right: 10px;

    background-image: url(https://i.imgur.com/vOfEgPn.png);

}

.icon-bookmark-filled {

    right: 10px;

    background-image: url(https://i.imgur.com/MiJ3Ffr.png);

}

.icon-favourite {

    right: 50px;

    background-image: url(https://i.imgur.com/MCmeT6W.png);

}

.icon-favourite-filled {

    right: 50px;

    background-image: url(https://i.imgur.com/ZMqSSw4.png);

}

.icon-share {

    right: 90px;

    background-image: url(https://i.imgur.com/OfHJ1Et.png);

}

hr {
    width: 75%;
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #f2e4a6;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}