.blog-post img {
    width: 100px;
    height: 100px;
}

.blog-post div {

    display: inline-block;
    margin: 1em;
}

article {
    display: flex;
    border: solid black 1px;

    width: fit-content;
}

